 h1{
        border-top : 2px solid blue;
        border-bottom : 2px solid blue;
        padding: 10px;
        background-color: lightblue;
    }
    .closed {
        color : red;
        text-decoration: line-through;
        font-weight: bold;
        font-style: italic;
    }
    .timeStamp{
        font-size: small;
        font-style: italic;
    }
