<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
    h1{
        border-top : 2px solid blue;
        border-bottom : 2px solid blue;
        padding: 10px;
        background-color: lightblue;
    }
    .closed {
        color : red;
        text-decoration: line-through;
        font-weight: bold;
        font-style: italic;
    }
    </style>
    <!--
    Use Cases
    =========
    1. Display list of bugs
    2. Add a new bug
    3. Toggle a bug as closed
    4. Remove the closed bugs
    5. Display stats
    6. Display "created time"
    7. Persist bugs in local storag
    8. Persist bugs in the server
    -->
    <script src="angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp",[]);
        bugTrackerApp.run(function($rootScope){
            $rootScope.version = "1.0";
            console.log("Bug Tracker App initialized..");
        });

        /*Bug Class*/
        bugTrackerApp.factory('Bug', function(){
            function Bug(defaults){
                this.title = defaults.title;
                this.isClosed = defaults.isClosed;
            }
            Bug.prototype.toggleStatus = function(){
                this.isClosed = !this.isClosed;
            }
            return Bug;
        });

        bugTrackerApp.factory('dummy', function(){
            return {
                name : "magesh",
                whoAmI : function(){
                    console.log("I am ", this.name);
                }
            }
        });

        bugTrackerApp.controller("bugsController", function($scope, Bug, dummy){
            console.log(dummy.whoAmI());
            $scope.newBug = "";
            $scope.addNew = function(){
                $scope.bugs.push(new Bug({
                    title : $scope.newBug,
                    isClosed : false
                }));
            };
            $scope.toggleStatus = function(bug){
                //console.log(bug, " is clicked");
                //bug.isClosed = !bug.isClosed;
                bug.toggleStatus();
            }
            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0;i--){
                    var bug = $scope.bugs[i];
                    if (bug.isClosed)
                        $scope.bugs.splice(i,1);
                }
            }
            $scope.bugs = [
                new Bug({title : "Unable to login", isClosed : false}),
                new Bug({title : "Server communication fails", isClosed : false}),
                new Bug({title : "Data not saved", isClosed : false})
            ];
        });
    </script>
</head>
<body ng-app="bugTrackerApp">
    <h1>Bug Tracker</h1>
    <span>Version : {{version}}</span>
    <hr>
    <div class="content" ng-controller="bugsController">
        <div>
            Bugs # : {{bugs.length}}
        </div>
        <span>Bug :</span>
        <input type="text" ng-model="newBug" >
        <input type="button" value="Add" ng-click="addNew()">
        <input type="button" value="Remove Closed" ng-click="removeClosed()">
        <ol>
            <li
                ng-repeat="bug in bugs"
                ng-click="toggleStatus(bug)"
                ng-class="{closed :bug.isClosed}"
            >{{bug}}</li>
        </ol>

    </div>
</body>
</html>
